body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: grey;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 1.0em;
}

.sidebar {
    width: 12.5%; /* 1/8th of the page */
    background: #111;
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed
}

.sidebar select {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

#checklist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#countryDropdown {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    text-align-last: center; /* Center selected item */
    font-size: 1.0em;
    border: none;
    background: #222;
    color: white;
    margin-bottom: 1em;
  }
  
  /* Make the placeholder ("Country") italic and transparent */
  #countryDropdown option[value="Country"] {
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .checkbox-wrapper-47 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em; /* adjust size as needed */
  }
  
  .checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
    margin-right: 0.5em;
  }
  
  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f5229;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
  }
  
  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }
  