body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: grey;
    font-family: 'VT323', monospace;
    color: white;
}

.sidebar {
    width: 12.5%;
    background: #111;
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar select {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

#countryDropdown {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    text-align-last: center;
    font-size: 1em;
    border: none;
    background: #222;
    color: white;
    margin-bottom: 1em;
}

#countryDropdown option[value="Country"] {
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}

.checkbox-wrapper-47 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
    margin-right: 0.5em;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f5229;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
}

.checkbox-wrapper-47 label:hover {
    color: #66bb6a;
}

.checklist-section {
    margin-bottom: 1em;
}

.checklist-section h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #fff;
    font-family: 'VT323', monospace;
}

.main {
    flex: 1;
    padding: 20px 40px;
    margin-left: 12.5%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.4em;         /* Slightly larger text */
    letter-spacing: 0.05em;   /* Add spacing between letters */
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: static;
        order: -1;
    }

    .main {
        margin-left: 0;
        padding: 10px;
    }
}